#gameOver {
  display: none;
  font-size: 40px;
  text-align: center;
}

#gameContainer {
  width: 500px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  color: white;
}

.square {
  border: 2px solid black;
  resize: none;
  width: 30%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: royalblue;
  margin: 5px;
}

.square p {
  font-size: 80px;
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.notClicked:hover {
  background-color: red;
}

button {
  background-color:black;
  color: white;
  display: flex;
  justify-content: center;
  margin: auto;
}